/* -------------- */
/* Variables      */
/* -------------- */
:root {
  /* colors */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  /* fonts */
  --fs-base: 13px;
  --ff-manrope: "Manrope", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* ----------------- */
/* Reset             */
/* ----------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* -------------- */
/* Base           */
/* -------------- */
body {
  background-color: var(--light-grayish-blue);
  font-family: var(--ff-manrope);
  font-size: var(--fs-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------- */
/* Component         */
/* ----------------- */
.card {
  width: 327px;
  height: 504px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  position: relative;
}
.card__bg-img {
  width: 327px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.card__hd-one {
  font-weight: var(--fw-bold);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--very-dark-grayish-blue);
  padding: 36px 32px 12px 32px;
}
.card__p {
  color: var(--grayish-blue);
  padding: 0 32px 32px 32px;
  font-weight: var(--fw-medium);
  line-height: 20px;
  letter-spacing: 0.121875px;
}

.s-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.s-links__img-hero {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-area: 1/1/3/2;
  justify-self: center;
}
.s-links__hd-two {
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: var(--very-dark-grayish-blue);
  grid-area: 1/2/2/4;
  justify-self: start;
}
.s-links__time {
  font-weight: var(--fw-bold);
  font-size: var(--fs-base);
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: var(--grayish-blue);
  grid-area: 2/2/3/4;
  justify-self: start;
}

.s-links__share {
  width: 32px;
  height: 32px;
  background: #ecf2f8;
  border: none;
  border-radius: 50%;
  position: relative;
  bottom: 36px;
  right: -271px;
  z-index: 1;
}
.s-links__share:hover {
  cursor: pointer;
  background: var(--grayish-blue);
  transform: scale(1.1);
}
.s-links__share__arrow {
  justify-self: center;
  align-self: center;
}

.spin {
  transform: rotate(360deg);
  transition: transform 500ms linear;
}

.s-links-a {
  display: grid;
  grid-template-columns: 35% 1fr 1fr 1fr 35%;
  grid-template-rows: 1fr;
  visibility: hidden;
  background-color: var(--very-dark-grayish-blue);
  position: absolute;
  bottom: 0px;
  width: 327px;
  height: 64px;
  border-radius: 0px 0px 10px 10px;
  transform: scale(0);
  transition: all 250ms linear;
}
.s-links-a__subt {
  grid-area: 1/1/2/2;
  justify-self: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 5px;
  color: #9DAEC2;
  text-transform: uppercase;
  align-self: center;
  padding-left: 32px;
}
.s-links-a__fb {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
}
.s-links-a__tw {
  grid-area: 1/3/2/4;
  align-self: center;
  justify-self: center;
}
.s-links-a__pin {
  grid-area: 1/4/2/5;
  align-self: center;
  justify-self: center;
}

.icon {
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.icon:hover {
  transform: scale(1.25);
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.active {
  visibility: visible;
  height: 64px;
  transform: scale(1);
  transition: transform 250ms linear;
}

.path:hover {
  fill: #fff;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 2rem;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 730px) {
  .card {
    width: auto;
    height: auto;
    display: flex;
  }

  .image-wrapper {
    width: 285px;
    height: 280px;
    background: url(../images/drawers.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
  }

  .card__bg-img {
    display: none;
  }

  .bottom-container {
    width: 445px;
  }

  .card__hd-one {
    font-size: 20px;
  }

  .bottom-container {
    position: relative;
  }

  .s-links__share {
    right: -376px;
  }

  .s-links-a {
    width: 248px;
    left: 260px;
    bottom: 100px;
    border-radius: 10px 10px 10px 10px;
    grid-template-columns: 46% 1fr 1fr 1fr 12%;
  }

  .s-links-a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-top-color: var(--very-dark-grayish-blue);
    top: 63px;
    right: 100px;
  }
}
.animate {
  animation-name: wobble;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-alternate: normal;
  animation-timing-function: ease-in-out;
}

/* Animation */
@keyframes wobble {
  25% {
    transform: translate(5px) rotate(10deg);
  }
  50% {
    transform: translate(-5px) rotate(-10deg);
  }
  75% {
    transform: transform(5px) rotate(10deg);
  }
}

/*# sourceMappingURL=styles.css.map */
